<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Print PO</title>
</head>

<body>
  <h1>Purchase Order</h1>
</body>

<script>
  window.print()
</script>

</html>